.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    aspect-ratio: 16 / 9;
    width: 70rem;
    height: 20rem;
}

.coin-box-container {
    border-style: solid;
    border-color: #000;
    display: grid;
    grid-auto-rows: auto;
}

.buttons-area {
    grid-row-start: 1;
    grid-column-start: span 2;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.playable-area {
    grid-row-start: 2;
    grid-column-start: span 2;
    width: 100%;
    height: 100%;
    display: grid;
}

.from-floor-area {
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    background-color: pink;
}

.from-bank-area {
    grid-row-start: span 2;
    width: 100%;
    height: 100%;
    background-color: pink;
}


.floor {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;

    width: 100%;
    height: 40rem;
    background-color: green;
    position: relative;
}

.a-coin-box {
    width: 20rem;
    height: 10rem;
    border-style: solid;
    border-color: #000;
    border-radius: 2%;
    background-color: aqua;
    margin: auto;
}

/* Coin styling */
.coin {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    /* cursor: grab; */
}

.quarter {
    content: url("../art/coinBox/quarter.png");
    width: 4rem;
    height: auto;
}

.dime {
    content: url("../art/coinBox/dime.png");
    width: 3rem;
    height: auto;
}

.nickel {
    content: url("../art/coinBox/nickel.png");
    width: 3.5rem;
    height: auto;
}

.penny {
    content: url("../art/coinBox/penny.png");
    width: 2rem;
    height: auto;
}



/* Toggle slider styling */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.win-popup {
    display: none;
    border-radius: 1rem;
    box-shadow: 10px 10px gray;
}

.lose-popup {
    display: none;
    border-radius: 1rem;
    box-shadow: 10px 10px gray;
}