html,
body {
    font-family: "Comic Neue", "sans-serif";
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#menu {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.btn-grid {
    font-size: 35px;
}

#dsd-grid {
    background-color: #649dbc;
}

#gg-grid {
    background-color: #85AC40;
}

#cb-grid {
    background-color: pink;
}

#or-grid {
    background-color: #12b2ff;
}





/* 
#menuTitle {
    position: absolute;
    grid-row-start: 0;
    grid-row-end: 1;
} */
/* 
#dsd-grid {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#gg-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#cb-grid {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

#or-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}  */