/* html,
:root {
    --slider-button-size: 32px;
    --slider-button-offset: 5px;
    --slider-switch-width: 200px;
    --slider-switch-height: 40px;
    --slider-radius: 25px;
    --slider-translate: 158px;
} */

.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .labels {
    position: relative;
    transition: all 0.5s ease-in-out;
    color:aliceblue;
}

.switch .slider:hover {
    background-color: blueviolet;
}

.switch .labels::after {
    content: attr(data-off);
    left: -40px;
    position: absolute;
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.switch .labels::before {
    content: attr(data-on);
    white-space: nowrap;
    left: -88px;
    position: absolute;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}


.switch input:checked~.labels::after {
    opacity: 0;
  }

  .switch input:checked~.labels::before {
    opacity: 1;
  }

.slider {
    content: "";
       
    border-radius: 25px;
    background-color: rgb(187, 144, 228);
    box-shadow: 2px 2px black;
       
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
       
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    top: 10%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    height: 32px;
    width: 32px;
    left: 5px;
    bottom: 5px;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked + .slider {
    background-color: blueviolet;
    content: "";
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(187, 144, 228);
}

input:checked + .slider:before {
    -webkit-transform: translateX(158px);
    -ms-transform: translateX(158px);
    transform: translateX(158px);
}